{% extends "base.html" %}

{% block title %}Home - Toolkit{% endblock %}

{% block content %}
<div class="card welcome-card">
    <h1>Welcome to the Toolkit!</h1>
    <p>Your one-stop destination for mathematical conversions and calculations.</p>
    <div class="tool-selection">
        <a href="{{ url_for('convert') }}" class="button-link">Expression Converter</a>
        <a href="{{ url_for('math_page') }}" class="button-link">Math Functions</a>
        <a href="{{ url_for('array_toolkit', sub='sorting') }}" class="button-link">Array</a>
    </div>
</div>
{% endblock %}
